body {
    margin: 0;
    padding: 0;
    font-size: 32;
    line-height: 40px;
    color: #444444;
    height:auto;
    width:1200;
    display: grid;
    place-items: center;
    background-color: #525252;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.goldman-regular {
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style:normal;
}

.goldman-bold {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.col-black{
    color: black;
}
.col-red{
    color: red;
}
.col-white{
    color: white;
}
.head2{
    font-size: 50px;
    line-height: 56px;
}
.head3{
    font-size: 32px;
    height: 40px;
}
.bodyL{
    font-size: 20px;
    height: 27px;
    padding-bottom: 40px;
}
.bodyS{
    font-size: 15px;
    height: 15px;
    text-align:center;
    margin:2px;
}


main{
    background: linear-gradient(to right, black, red);
    width: 1200px;
    display: grid;
    place-items: center
}
footer{
    background: linear-gradient(to bottom, black 0%, rgb(29,0,0) 30%, rgb(96, 1, 1) 50%, red 70%, white 100%);
    width: 1200px;
    display: grid;
    place-items: center
}
.icons_s{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left:5px;
    padding:5px;
    word-spacing: normal;
    height: 139px;
    padding-left:5px;
    padding-top: auto;
    margin-top: auto;
    position: relative;
    bottom: 60px;
    left: 20px;
}
.icon_img{
    margin-right:32px;
}
.styl{
    width:150;
    background-color: red;
    color:black;
    border-radius: 40px;
    padding:16px;
    margin:32px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    height: 32px;
    letter-spacing: 1px;
}
.styl1{
    width:150px;
    height:32px;
    background-color: red;
    color:white;
    border-radius: 15px;
    padding:15px;
    margin:20px;
    padding-right:40px;
    padding-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    letter-spacing: 1px;
}
.navigation{
    background-color: rgb(174, 171, 171, 0.5);
    height:139px;
    width: 1200px;
    /* position:fixed; */

    

}

.navigation_list {
    display:inline;
    margin-left: 5px;
    position: relative;
    bottom: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    color: black;
    text-align:center;
}
.header2{
    background-image: url('icons/photo_ШПАГАТ.jpg');
    background-size: no-repeat;
    background-position:initial;
    background-size:corner;
    height:590px;
    width: 1200px;
    display: grid;
    place-items: center
}
.header_fon{
    background-color:rgb(126, 117, 117, 0.4);
    height:590px;
    width: 1200px;
    content: '';
    position: absolute;
    top: 0;
    display: grid;
    place-items:initial
}
.logo_hat{
    margin: 36px;

}
.logo_photo{
    text-align: center;
}
.logo-con{
    text-align: center;
    margin-top: 48px;
    margin-bottom: 0;
    padding: 0%;
}
.logo_show{
    padding-left:70px ;
    padding-top: 50px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.line_dis{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left:0px;
    margin-top: auto;
    padding-top: auto;
    padding-left:0px;
    height: 139px;
}
.catalog_photo{
    object-fit:cover;
}
.round{
    border-radius: 10px;
}
.abus{
    object-fit:fill;
    margin:0;
    padding:0;
    position: relative;
    left:0;
}
.about_us{
    position: relative;
    left:0
}
.us-test{
    ::before { content: "★"; };
    border: white 10px;
}
.square-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  max-width: 1200px;
  margin:auto;
  padding: 32px;
}

.us-let{
    background-color: rgb(255, 255, 255, 0.8);
    height: auto;
    width: auto;
    border: 5px solid rgb(0,0,0);
    border-radius: 12px;
    padding: auto;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    color: darkred;
}
.catalog_item{
    text-align: center;
}
.catalog-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    max-width: 1200px;
    margin:auto;
    padding: 64px;
}
.photo-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    max-width: 1200px;
    margin:auto;
    padding: 64px;
}
.catalog-prolog{
    margin:auto;
    padding: 64px;
    text-indent: 32px;
}
.but2{
    margin: 64px;
    margin-top: 100px;
}

.page-footer{
    text-align: center;
}
.icons-end{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding:15px;
    padding-bottom: 5px;
    word-spacing: normal;
    padding-top: auto;
    margin-top: auto;
    position: relative;
    background-color: rgb(217,217,217,0.5);
    border-radius: 20px;

}
.endi{
    margin: 0;
}
.contact{
    margin: auto;
    margin-bottom: 100px;
    padding: auto;
}



@media (max-width: 375px) {
  /* Общие стили для body */
  body {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 40px;
    color: #444444;
    height: auto;
    width: 100vw;
    display: grid;
    place-items: center;
    background-color: #525252;
  }
  .square-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 16px;
    box-sizing: border-box;
  }

  .catalog-grid {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 16px;
    box-sizing: border-box;
  }

  .photo-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    max-width: 100%;
    margin: 0 auto;
    padding: 64px 16px; /* Паддинг по бокам уменьшен для адаптивности */
    box-sizing: border-box;
  }

  .head2 {
    font-size: 40px;
    line-height: 46px;
    margin: 0;
    color: white;
    text-align: center;
  }

  .head3 {
    font-size: 22px;
    height: 30px;
    margin: 16px 0;
    color: white;
  }

  .bodyL {
    font-size: 10px;
    height: 17px;
    padding-bottom: 22px;
    color: #ddd;
    text-align: center;
  }

  .bodyS {
    font-size: 7px;
    height: 7px;
    text-align: center;
    margin: 2px;
    color: #bbb;
  }


  main {
    background: linear-gradient(to right, black, red);
    width: 100%;
    max-width: 375px;
    display: grid;
    place-items: center;
    padding: 20px;
    box-sizing: border-box;
  }

  /* Футер с градиентом */
  footer {
    background: linear-gradient(
      to bottom,
      black 0%,
      rgb(29, 0, 0) 30%,
      rgb(96, 1, 1) 50%,
      red 70%,
      white 100%
    );
    width: 100%;
    max-width: 375px;
    display: grid;
    place-items: center;
    padding: 20px;
    box-sizing: border-box;
  }

  /* Кнопка styl1 */
  .styl1 {
    width: auto;
    height: 24px;
    background-color: red;
    color: white;
    border-radius: 15px;
    padding: 0 40px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
  }

  /* Шапка с фоном изображения */
  .header2 {
    background-image: url('icons/photo_ШПАГАТ.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 590px;
    width: 100%;
    max-width: 375px;
    display: grid;
    place-items: center;
    position: relative;
    box-sizing: border-box;
  }

  /* Полупрозрачный фон поверх header2 */
  .header_fon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(126, 117, 117, 0.4);
    display: grid;
    place-items: center;
    z-index: 1;
    box-sizing: border-box;
  }

  /* Кнопка but2 (если нужна по центру) */
  .but2 {
    margin: 20px auto;
    display: block;
  }

  /* Логотип */
  .logo_hat {
    width: 250px;
    height: 60px;
    object-fit: contain;
    display: block;
    margin: 0 auto 20px;
  }
}






